# Git
*.orig

# macOS
.DS_Store

# Node.js
npm-debug.log
/node_modules/

# OCaml/BuckleScript/ReasonML
.merlin
.bsb.lock
rescript.lock

/lib/bs/
/lib/ocaml/
*.bs.js
/src/**/*.res.mjs
/__tests__/**/*.res.mjs

# Project
/docs/coverage
/.yarn/install-state.gz
